<style>
  .social_signin {
    padding-top: 47px;
    padding-bottom: 50px;
  }
  span.like_button_possition {
    padding-left: 27px;
  }
</style>
<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago
    <span class="like_button_possition">
      <% if !current_user.is_a?(GuestUser) %>
        <%= link_to favorite_unfavorite_blog_blog_path(@blog), style: blog_favorite_color(@blog, current_user) do %>
          <%= fa_icon('thumbs-up 2x') %> <%= content_tag :span, total_favorite_count(@blog) , class: 'badge', style: 'position: absolute; background: rosybrown; color: green; border-radius: 1.25rem;' %>
        <% end %>
      <% else %>
        <%= link_to favorite_unfavorite_blog_blog_path(@blog), style: blog_default_color() do %>
          <%= fa_icon('thumbs-up 2x') %> <%= content_tag :span, total_favorite_count(@blog) , class: 'badge', style: 'position: absolute; background: rosybrown; color: green; border-radius: 1.25rem;' %>
        <% end %>
      <% end %>
    </span>
  </p>

	<nav class="breadcrumb">
    <div class="col-sm-9">
      <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
      <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
      <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>
    </div>

    <span class="col-md-3 float-right">
      <%= link_to fa_icon('pencil 2x'), edit_blog_path(@blog), style:'padding-right: 6px;' if logged_in?(:site_admin) %>
      <%= link_to fa_icon('trash 2x'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post' } if logged_in?(:site_admin) %>
    </span>
	</nav>

	<p>
		<%= @blog.topic.title %>
	</p>

	<p>
		<%= markdown @blog.body %>
	</p>

  <div class="social_signin">
    <hr>
    <h4>Social Share</h4>
    <%= twitter_button %>
  </div>

	<%#= render 'comments/comment_form' %>

  <!--<div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>-->

</div>
