<style>
  .social_signin {
    padding-top: 47px;
    padding-bottom: 50px;
  }
  span.like_button_possition {
    padding-left: 27px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>

<div class="col-sm-8 blog-main"> 
  <%= image_tag @blog.try(:image_url), style: "width: 100%; height: auto;", class:"img-fluid "  if @blog.try(:image_url).present? %>

  <h2 class="blog_title"><%= @blog.title %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago
    <span class="like_button_possition">
      <% if !current_user.is_a?(GuestUser) %>
        <%= link_to favorite_unfavorite_blog_blog_path(@blog), style: blog_favorite_color(@blog, current_user) do %>
          <%= fa_icon('thumbs-up 2x') %> <%= content_tag :span, total_favorite_count(@blog) , class: 'badge', style: 'position: absolute; background: rosybrown; color: green; border-radius: 1.25rem;' %>
        <% end %>
      <% else %>
        <%= link_to favorite_unfavorite_blog_blog_path(@blog), style: blog_default_color() do %>
          <%= fa_icon('thumbs-up 2x') %> <%= content_tag :span, total_favorite_count(@blog) , class: 'badge', style: 'position: absolute; background: rosybrown; color: green; border-radius: 1.25rem;' %>
        <% end %>
      <% end %>
    </span>
  </p>

	<nav class="breadcrumb">
    <% if logged_in?(:site_admin) %>
      <div class="col-sm-10">
        <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
        <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
        <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>
      </div>

      <span class="col-md-2 float-right">
        <%= link_to fa_icon('pencil 2x'), edit_blog_path(@blog), style:'padding-right: 6px;' %>
        <%= link_to fa_icon('trash 2x'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post' } if logged_in?(:site_admin) %>
      </span>
    <% else %>
      <div class="col-sm-12">
        <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
        <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
        <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>
      </div>
    <% end %>
	</nav>

	<p>
		<%= @blog.topic.title %>
	</p>

	<p>
		<%= markdown @blog.body %>
	</p>

  <div class="social_signin">
    <hr>
    <h4>Social Share</h4>
    <%= twitter_button %>
  </div>

  <div class="share-btn-container">
    <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.google.com%[title]=<%= @blog.topic.title %>" target="_blank" class="facebook-btn">
      <i class="fab fa-facebook"></i>
    </a>

    <a href="http://twitter.com/share?text=<%= @blog.topic.title %>&url=https%3A%2F%2Fwww.google.com" target="_blank" class="twitter-btn">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.google.com&title=<%= @blog.topic.title %>" target="_blank" class="linkedin-btn">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>


	<%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>


<script>
  const facebookBtn = document.querySelector(".facebook-btn");
  const twitterBtn = document.querySelector(".twitter-btn");
  const linkedinBtn = document.querySelector(".linkedin-btn");


  function init() {
    
    let postUrl = encodeURI(document.location.href);
    let BlogTitle = document.querySelector(".blog_title");
    let postTitle = encodeURI(BlogTitle.innerText);

    facebookBtn.setAttribute(
      "href",
      `https://www.facebook.com/sharer.php?u=${postUrl}`
    );

    twitterBtn.setAttribute(
      "href",
      `https://twitter.com/share?url=${postUrl}&text=${postTitle}`
    );

    linkedinBtn.setAttribute(
      "href",
      `https://www.linkedin.com/shareArticle?url=${postUrl}&title=${postTitle}`
    );
  }

  init();
</script>
