<style>
  .login-page {
    margin-top: 5rem;
  }

  .login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
  }

  .card {
    margin-bottom: 1rem;
  }
</style>



<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2">
      
    </div>
    <div class="col-sm-8 col-lg-8 col-md-8">
      <div class="login-page" style="background: white; min-height: 362.391px;" cz-shortcut-listen="true">
        <div class="login-box">
          <div class="login-logo">
            <b>DasDevGuide</b>
          </div>

          <div class="card">
            <div class="card-body login-card-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group position-relative">
                  <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class:"form-control", placeholder: "Enter Email" %>
                </div>
                <div class="form-group position-relative">
                  <%= f.text_field :name, autofocus: true, required: true, autocomplete: "name", class:"form-control", placeholder: "Enter Name" %>
                </div>
              
                <div class="form-group position-relative">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", required: true, class:"form-control", placeholder: "Enter Password" %>
                </div>
                <div class="form-group position-relative">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class:"form-control", placeholder: "Enter Confirm Password" %>
                </div>
                <div class="form-group position-relative">
                  <%= f.submit "Sign Up", class: "mt-4 btn btn-primary w-100" %>
                  <%= link_to "Sign Up with Github", omniauth_authorize_path(User, :github), class: "mt-4 btn btn-dark w-100", method: :post, data: { disable_with: "Connecting..." } %><br />
                  <%= link_to "Sign Up with Google", user_google_oauth2_omniauth_authorize_path, class: "mt-4 btn btn-danger w-100", method: :post, data: { disable_with: "Connecting..." } %>
                </div>

                <div class="auth-links register-text">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
      
    </div>
  </div>
</div>