<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="wrapper">
  <div class="container">
    <div class="content pt-5 mb-5">
      <div class="title"><h2>Enter OTP</h2></div>
        <div class="row">
          <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
            <div  class="login">
              <div class="otp">
                <%= form_tag verify_otp_users_path, :multipart => true do %>
                  <div class="input-group justify-content-center">
                    <fieldset>
                      <input class="pink inputs" maxlength="1" name="num1" />
                      <input class="pink inputs" maxlength="1" name="num2"/>
                      <input class="pink inputs" maxlength="1" name="num3"/>
                      <input class="pink inputs" maxlength="1" name="num4"/>
                    </fieldset>
                  </div>
                  <div class="text-center p-3 pb-4  gray font14 fontw600 margin-bottom-30"><span id="timer"></span></div>
                    
                    <input type="hidden" id="id" name="id" value="<%=@user_encrypt%>">
                    <%= submit_tag "Verify", class:"mt-4 btn btn-primary w-100"%>
                    <p class="text-capitalize font14 mb-4 text-center mt-5">Didn't recieve OTP? <br/> You can request for another OTP after 60 seconds.</p>
                  </div>
                <% end %>
              </div>
              <div class="form-group">
                <button type="submit" class=" mt-4 btn btn-outline w-100 resendOtpBtn" value="<%=@user_encrypt%>">Resend OTP</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  if ("<%= @otp_count %>" == 5 ){
    $(".resendOtpBtn").prop('disabled', true)
  }else{
    otp_timer()
  }
  

   $("input.pink").blur(function(){
      $(this).addClass("important");
    });

  $(".inputs").keyup(function (e) {
    if (this.value.length == 0 && e.which == 8) {
      // alert();
      $(this).prev('.inputs').focus();
      $(this).removeClass("important");
    }

    else if (this.value.length == this.maxLength) {
      $(this).next('.inputs').focus();
      $(this).addClass("important");
    }

  });

  $('.resendOtpBtn').on('click', function(){
    var id = this.value
    $.ajax({
      url: "<%= resend_otp_users_path %>",
      dataType: "script",
      data: {'id': id }
    });
  });


  function preback(){
    window.history.forward();
  }
  setTimeout("preback()", 0);
  window.onunload=function(){null};


  function otp_timer(){
    $(".resendOtpBtn").prop('disabled', true);
    timerOn = true;
    function timer(remaining) {
      var m = Math.floor(remaining / 60);
      var s = remaining % 60;
      m = m < 10 ? '0' + m : m;
      s = s < 10 ? '0' + s : s;
      document.getElementById('timer').innerHTML = m + ':' + s;
      remaining -= 1;
      if(remaining >= 0 && timerOn) {
        setTimeout(function() {
          timer(remaining);
        }, 1000);
        return;
      }
      if(!timerOn) {
        // Do validate stuff here
        return;
      }
      // Do timeout stuff here
      $(".resendOtpBtn").prop('disabled', false);
     }
    timer(60);
  }

  function session_timeout(){
    var timer, currSeconds = 0;
    function resetTimer() {
      clearInterval(timer);
      currSeconds = 0;
      timer = setInterval(startIdleTimer, 1000);
    }

    window.onload = resetTimer;
    window.onmousemove = resetTimer;
    window.onmousedown = resetTimer;
    window.ontouchstart = resetTimer;
    window.onclick = resetTimer;
    window.onkeypress = resetTimer;

    function startIdleTimer() {
      currSeconds++;
      if (currSeconds > 3600){
        // window.location.href = '/web/sessions/logout'
      }
    }
  }

</script>