<style>
  .login-page {
    margin-top: 8rem;
  }

  .login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
  }

  .card {
    margin-bottom: 1rem;
    background-color: #e5dddd !important;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
		<div class="col-sm-8 col-lg-8 col-md-8">

			<div class="login-page" style="background: white; min-height: 362.391px;" cz-shortcut-listen="true">
        <div class="login-box">
					<div class="card">
						<div class="card-header login-logo">
              <b>Forgot your password?</b>
            </div>
						<div class="card-block">

							<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
								<%= render "devise/shared/error_messages", resource: resource %>

								<div class="form-group">
									<%= f.label :email %><br />
									<%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class:"form-control" %>
								</div>

								<div class="form-group">
									<%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-block" %>
								</div>
								<hr class="my-4">
							<% end %>
							<div class="auth-links">
								<%= render "devise/shared/links" %>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="col-sm-2 col-lg-2 col-md-2"></div>
	</div>
</div>