<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
  <p>
  	<%= copyright_generator %>
  </p>
  <div class="footer_social_links">
    <a href="#"><%= fa_icon "github" %></a>
    <a href="https://www.linkedin.com/in/suman-das-9068b5142/" target="_blank"><%= fa_icon "linkedin" %></a>
    <a href="#"><%= fa_icon "instagram" %></a>
    <a href="#"><%= fa_icon "facebook" %></a>
    <a href="https://twitter.com/Suman07396436" target="_blank"><%= fa_icon "twitter" %></a>
  </div>
</footer>