<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-success blog-sidebar-source font-style") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Recommended Content</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.dasdevguide.com/blogs/how-to-upload-an-excel-file-into-s3-bucket-using-ruby-on-rails" target="_blank">How to upload an excel file into S3 bucket using ruby on rails</a></li><br>
      <li><a href="http://www.dasdevguide.com/blogs/difference-between-include-and-extend-in-rails" target="_blank">Difference between include and extend in rails?</a></li><br>
      <li><a href="http://www.dasdevguide.com/blogs/what-is-capybara" target="_blank">Web Testing with Capybara</a></li>
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Follow Us</h4>
    <ol class="list-unstyled social_links">
      <li><a href="#" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/suman-das-9068b5142/" target="_blank"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/Suman07396436"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>

</div>
