<style>
  .login-page {
    margin-top: 8rem;
  }

  .login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
  }

  .card {
    margin-bottom: 1rem;
  }
</style>



<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2 col-md-2">
      
    </div>
    <div class="col-sm-8 col-lg-8 col-md-8">
      <div class="login-page" style="background: white; min-height: 362.391px;" cz-shortcut-listen="true">
        <div class="login-box">
          <div class="login-logo">
            <b>DasDevGuide</b>
          </div>

          <div class="card">
            <div class="card-body login-card-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login_form") do |f| %>
                <div class="form-group position-relative">
                  <%#= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Enter Email" %>
                </div>
                <div class="form-group">
                  <%#= f.label :password %><br />
                  <%= f.password_field :password, class: "form-control", id:"password-field", required: true, autofocus: true, autocomplete: "new-password", placeholder: "Enter Password" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Log in", class:"mt-4 btn btn-primary w-100" %>
                </div>
              <% end %>
              <div class="auth-links">
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2">
      
    </div>
  </div>
</div>